//paleta de colores
$first-color: #000000;
$secod-color: #1F3F68;
$third-color: #FFFFFF;
$four-color: #356EAD;
$fifth-color: #356EAD;

// font

.helvetica{
    font-family: Helvetica,Arial , sans-serif;
}
.arial{
    font-family: Arial, Helvetica, sans-serif;
}

$xll: 44px;
$xl: 36px;
$l: 22px;
$m: 20px;
$xm:18px;
$s:16px;
$xs:14px;
// line height
.lhs{
    line-height: 24px;
}
.lgm{
    line-height: 26px;
}