//paleta de colores
$first-color: #000000;
$second-color: #1F3F68;
$third-color: #FFFFFF;
$four-color: #1F3F68;
$fifth-color: #356EAD;

// font

.helvetica{
    font-family: Helvetica,Arial , sans-serif;
}
.arial{
    font-family: Arial, Helvetica, sans-serif;
}

$xll: 44px;
$xl: 32px;
$l: 22px;
$m: 20px;
$xm:18px;
$s:16px;
$xs:14px;
// line height
.lhxl{
    line-height: 38px;
}
.lhl{
    line-height: 30px;
}
.lhs{
    line-height: 24px;
}
.lgm{
    line-height: 26px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.footericon{
    height: 30px;
    width: 30px;
}
.footermain{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerinfo{
    display: flex;
    flex-direction: column;
}
.leastImg{
    height: 200px;
    width: 275px;
}