.blog-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(253.6deg, #98D0FC 2.46%, #3481D7 93.24%);
    height: 400px;
    &__bg{
        text-align: center;
        width: 60%;
    }
    &__h1{
        font-size: $xl;
        letter-spacing: 0.4em;
        color:$third-color;
    }
    &__p{
        font-size: $s;
        letter-spacing: 0.04em;
        color: rgba(255, 255, 255, 0.78);
    }
}